/* Write your CSS here */
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  border: solid 2px #ff8542;
  font-family: 'Roboto';
  margin: 10px;
  width: 850px;
}

.miniContainer {
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border-radius: 10px;
}

.title {
  color: #ff8542;
}

.todosItemContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px;
}
